{% extends "base.html" %}
{% load static %}

{% block sidenav %}
    {% for item in item_list %}
     <li>
         <a href="{{ item.link }}"> {{ item.item }} </a>
     </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
<h1  align="center">About Us</h1>
<p>     As a collective group of computer science students and book enthusiasts
    , we sought to create a place where others could exchange books for cash.
    Regardless of what book you want to sell, we wanted to create a massive
    library to for those to find cheap and affordable books.
</p>
<p>
    With those ideals in mind, for any transactions we wanted to create a
    user-controlled market where the user-sellers hold the control to price their books
    this is done to minimize any costs that goes towards purchasing through our
    website. Here we sought to not only build a community but to help those
    in pursuit of finding the reading material they are looking for.
</p>

{% endblock content %}