{% extends "base.html" %}
{% load static %}

{% block sidenav %}
    {% for item in item_list %}
     <li>
         <a href="{{ item.link }}"> {{ item.item }} </a>
     </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
     <h1 align="center">Welcome to our Book Exchange System!</h1>
     <p> Looking to sell/buy books? Welcome to our dynamic book exchange hub,
         where you hold the power! Join our community either as a seller or a buyer.
         Here as a seller you can set your own prices for any books you want to sell.
         As a buyer we want to offer You the most expansive collection possible,
         with genres like: Sci-fi, Romance, Mystery, Comics, Manga, Fantasy.
         You name it we've got it. Sign up and make an account now and start exchanging.
     </p>
{% endblock content %}