@charset "utf-8";

#header {
    border-style: none;
    width: 800px;
    height: auto;
}
#header span{
    top: 10px;
    right: 50px;
    position: absolute;
}
#banner {
    position: relative;
    top: -14px;
}
#logo {
    position: relative;
    top: -10px;
    height: 60px;
    object-fit: cover;
    display: inline-block;
    z-index: 1;
}
#wrapper {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    width: 800px;
}

#footer {
    text-align: center;
    front-side: 0.8em;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    border-top: thin solid #BBBBBB;
    clear: both;
    color: #969696;
}
#navbar {
    position: relative;
    top: 50px;
    width: 800px;
    height: 60px;
}
#nav{
    background-color: #000000; /* black background */
    height: 60px;
}
#nav ul{
    margin: 0;
    padding: 0;
    top: 20px;
    left: 60px;
    list-style-type: none;
    position: relative;    /* Fixes nav bar to top despite scrolling alternate (fixed)*/
}
#nav li {
    float: left;
    font-size: 1em;
    list-style-type: none;
    border: 1.5px solid rgb(255, 215, 0); /* solid gold border on around navbar elements */
    color: #4C4C4C; /* color of text of each element in navbar */
}

#nav li:hover{ /* when hovering over navbar items it highlights dark grey */
    background-color: rgb(150,150,150);
}
#nav li a{
    display: block; /* horizontal orientation of nav bar */
    color: #FFFFFF;
    padding: 5px;
}

#main {

}
table {
    text-align: center;
}
p {
    text-indent: 3mm;
    text-indent: 30px;
}